/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, arial, sans-serif;
  color: #4a545a;
  background: #EEF2F5;
}

/* Link Styles */

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #6633ff;
}

/* Section Styles */

.main-nav {
  width: 100%;
  background: #1E2429;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  z-index: 200;
}

.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: block;
    margin-right: auto;
    color: white;
}
.nav .name a {
  color: white;
}

.nav li {
  padding: 5px 10px 10px 10px;
}

.nav a {
  transition: all .5s;
}

.nav a:hover,
.nav a.selected {
  color: white
}



header {
  text-align: center;
  background: url('images/kelowna-background.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  min-height: 350px;
  display: block;
  z-index: 100;
  position: relative;
}

header.portfolio {
  background: url('images/chris-bryant-designer.jpg') no-repeat top center;
}

header  .overlay {
  background: #282E34;
  opacity: 0.70;
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}

header .header-content {
  padding-top: 30px;
}

header {
  line-height: 1.5;
}

header .profile-image {
  margin-top: 70px; 
  width: 60px;
  height: 60px;
  border-radius: 15%;
  border: 2px solid #eee;
  transition: all .5s;
}
/* rotate(10deg) */
header .profile-image:hover {
  transform: scale(1.1) ;
  box-shadow: 1px 5px 50px #6eb5df;
  transition: all 1s;
}

.tag {
  font-size: 40px;
  color: #fff;
  display: table;
  margin: 10px auto;
  text-shadow: 5px 5px 35px rgba(43, 49, 54, 0.4);  
} 

.description {
  color: #b5bdc3;
  font-size: 1.2em;
  font-weight: 300;
  text-shadow: 3px 3px 20px rgba(43, 49, 54, 0.5);
}

.card {
  margin: 30px auto;
  padding: 20px 40px 40px;
  max-width: 80%;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card.image-card {
    background: transparent;
    border-bottom: none;
    padding: 0px 0px 0px 0px;
}

.card:hover {
  /* border-color: #ff99ff; */
}

ul.skills {
  padding: 0;
  text-align: left;
}

.skills li {
    padding: 3px 8px;
    display: inline-block;
    border: none;
    line-height: inherit;
    background: #EAF0F4;
    font-weight: 600;
    color: #8597A3;
    border-radius: 3px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -ms-user-select: none;
      -webkit-transition: .1s ease-in-out;
      -moz-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.download-meta-price-details span:hover {
    cursor: pointer;
}

/*CTA Section*/
.testimonial {
    width: 100%;
    background: #444;
    display: block;
    padding: 5% 5% 80px 5%;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

.testimonial blockquote,
.testimonial cite {
  font-family: Georgia, Times, serif;
  color: #fff;
  opacity: 0.8;
}
.testimonial blockquote {
  max-width: 60%;
  margin: 20px auto; 
  font-size: 30px;
  font-style: italic;
  line-height: 2.0em;
  font-weight: normal;
}

.testimonial cite {

}

/*CTA Section*/
section.cta {
    width: 100%;
    display: block;
    background: #f6f6f9;
    padding: 100px 0;
    box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    border-top: 1px solid #fff
}

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .60em;
  color: #b8b8b8;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}

a.twitter {
  background-image: url(images/twitter.svg);
  color: #EAF0F4;
}

a.linkedin {
  background-image: url(images/linkedin.svg);
}

a.github {
  background-image: url(images/github.svg);
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 500px;
  }

  header .header-content {
    padding-top: 70px;
  }

  header .profile-image {
  margin-top: 50px; 
  width: 100px;
  height: 100px;
  }

  .tag {
    font-size: 60px;
  } 

  .description {
    font-size: 1.375em;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }

  .card {
  margin: 30px;
  max-width: 500px;
}

  main {
    padding-top: 60px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}